@(currentPage: Page[Person], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)



@** navigation links **@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@** Helper generating table headers **@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
        <h1>@Messages("persons.list.title", currentPage.total)</h1>
    
        @flash.get("success").map { message =>
            <div class="alert-message warning">
                <strong>Success!</strong> @message
            </div>
        }



        <div id="actions">
            
            @helper.form(action=routes.Application.list()) {
                <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by person name...">
                <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
            }
            
            <a class="btn success" id="add" href="@routes.Application.create()">Add a new person</a>
            
        </div>
        
        @Option(currentPage.items).filterNot(_.isEmpty).map { persons =>
            <div class="container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            @header(2, "Person name")
                            @header(3, "Phone number")
                        </tr>
                    </thead>
                    <tbody>
        
                        @persons.map { 
                            case person => {
                                <tr>
                                    <td><a href="@routes.Application.edit(person.id.get)">@person.name</a></td>
                                    <td>@person.phone</td>
                                </tr>
                            }
                        }
        
                    </tbody>
                </table>

            <div id="pagination" class="pagination">
                <ul>
                    @currentPage.prev.map { page =>
                        <li class="prev">
                            <a href="@link(page)">&larr; Previous</a>
                        </li> 
                    }.getOrElse {
                        <li class="prev disabled">
                            <a>&larr; Previous</a>
                        </li>
                    }
                    <li class="current">
                        <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + persons.size) of @currentPage.total</a>
                    </li>
                    @currentPage.next.map { page =>
                        <li class="next">
                            <a href="@link(page)">Next &rarr;</a>
                        </li> 
                    }.getOrElse {
                        <li class="next disabled">
                            <a>Next &rarr;</a>
                        </li>
                    }
                </ul>
            </div>
        </div>    
        }.getOrElse {
            
            <div class="well">
                <em>Nothing to display</em>
            </div>
            
        }
}